.dictname {
font-size: large;
}
.stardict_abbreviation {
color: green;
font-style: italic;
}
.stardict_blockquote {
margin-left: 1em;
}
.stardict_bracket {
color: black;
}
.stardict_example {
color: violet;
}
.stardict_ipa {
color: red;
}
.stardict_keyword {
font-weight: bold;
}
.stardict_pinyin {
color: red;
}
.stardict_transliteration {
color: red;
}
.stardict_unknown_type {
font-style: italic;
}
